body,div,table,ul,li,input,textarea  {
    background-color: #ffe7f7 !important;
    background-size: 100%;
    word-wrap: break-word;      
}

[data-role=navbar] a { 
    font-size: 1.2em !important; 
    padding-top: 0.05em !important;
    padding-bottom: 0.05em !important;
}

.star {
    color: #d4db8e;
    font-weight: bold;
}

a:visited {
    color: #FF0000;
}

img {
    width  : 100% !important;
    height : auto !important;
}

.smallgif {
    width  : 28px !important;
    height : 18px !important;
}

.smallbox,.pager,.setting,
#board_content,#board_info,#thread_list,#thread_action,
#thread_content,#thread_info,
#search_content
{
    border: 0.1em solid rgb(153, 204, 0); 
}

.floor,.onethread {
    border-bottom: 0.1em solid rgb(153, 204, 0); 
    margin: 0.8em 0.2em 1.2em; 
    text-indent: 0em; 
    padding-bottom: 0.25em;
}

#board_title, #thread_title {
    font-weight: bold;
}


textarea {
    width: 100% ;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}

.reply {
    text-align : right;
    display : inline-block;
    width : 13%;
}

.left_string {
    display : inline-block;
    width : 15%;
}

.hot {
    text-align : right;
    display : inline-block;
    width : 18%;
}

.panel {
    width: 65% ;
    overflow: auto !important; 
}

.popup_textarea {
    height: 60% ;
    width: 95% ;
    overflow: auto !important; 
}

input,select {
    width: 100% ;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}

.small_input {
    width: 15% ;
}

.mid_input {
    width: 30% ;
}

.big_input {
    width: 60% ;
}

.smallnav {
    text-align : left;
    width: 16.65% !important;  
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}

/*.ui-page {  */
     /*backface-visibility: hidden;  */
     /*-webkit-backface-visibility: hidden; [> Chrome and Safari <]  */
     /*-moz-backface-visibility: hidden; [> Firefox <]  */
/*} */

/*div {*/
/*-webkit-transform: translate3d(0,0,0);*/
/*transform: translate3d(0, 0, 0);*/
/*}*/
