body,div,table,ul,li,input,textarea  {
    background-color: #ffdbef;
    background-size: 100%;
    /*font-size: 118% ;*/
}

img {
    width  : 100% !important;
    height : auto !important;
}

.smallbox,.pager,.setting,
#board_content,#board_info,#thread_list,#thread_action,
#thread_content,#thread_info,
#search_content
{
    border: 0.1em solid rgb(153, 204, 0); 
}

.floor,.onethread {
    border-bottom: 0.1em solid rgb(153, 204, 0); 
    margin: 0.8em 0.2em 1.2em; 
    text-indent: 0em; 
    padding-bottom: 0.25em;
}

#board_title, #thread_title {
    font-weight: bold;
}

.popup_textarea {
    height: 80% !important;
    width: 90% !important;
    overflow: auto !important; 
    /*position:fixed;*/
    /*left: 20px;*/
    /*right: 10px;*/
    /*top:30px;*/
    /*bottom: 30px;*/
}

textarea {
    /*width: 100% !important;*/
    /*height: 80% !important;*/
    /*-webkit-box-sizing: border-box; */
    /*-moz-box-sizing: border-box;   */
    /*box-sizing: border-box;       */
}

input {
    width: 75% !important;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}

#min_word_num_input {
    width: 10% !important;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;       
}
